@Scripts.Render("~/bundles/jquery-validate")

@model ProductsListControl.Models.Product

@{ int maxWarranty = 24; List<int> warrantiesList = new List<int>(); for (int i = 0; i <= maxWarranty; i++) { warrantiesList.Add(i); } }

@using (Ajax.BeginForm("AddProduct", null, new AjaxOptions { OnSuccess = "onAddProductSuccess" }, new { enctype = "multipart/form-data" }))
{
    <div class="modal-content">
        <div class="modal-header">
            <span>Добавление товара</span>
            <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            @Html.LabelFor(model => model.ProductName, "Введите название товара *:")
            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductName)
            @Html.LabelFor(model => model.ManufactureDate, "Укажите дату изготовления *:")
            @Html.EditorFor(model => model.ManufactureDate, new { htmlAttributes = new { id = "add-manufacture-date", @class = "form-control", @readonly = "true" } })
            @Html.ValidationMessageFor(model => model.ManufactureDate)
            @Html.LabelFor(model => model.Price, "Введите цену (грн.) *:")
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
            @Html.ValidationMessageFor(model => model.Price)
            @if (ViewBag.Settings.HasDescription)
            {
                @Html.LabelFor(model => model.Description, "Введите описание:")
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })            
            }
            @if (ViewBag.Settings.HasWarranty)
            {
                @Html.LabelFor(model => model.Warranty, "Укажите срок гарантии (мес.):")
                @Html.DropDownListFor(model => model.Warranty, new SelectList(@warrantiesList), new { @class = "form-control" })            
            }
            @if (ViewBag.Settings.HasDiscount)
            {
                @Html.LabelFor(model => model.Discount, "Введите скидку (%):")
                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control", @min = "0", @max = "100" } })
                @Html.ValidationMessageFor(model => model.Discount)
            }
            @if (ViewBag.Settings.HasWarehouseAvailability)
            {
                <div class="availability">@Html.EditorFor(model => model.WarehouseAvailability, new { htmlAttributes = new { @class = "form-control" } })<span>Наличие на складе</span></div>
            }
            @if (ViewBag.Settings.HasPhoto)
            {
                <div class="choose-file">
                    @Html.LabelFor(model => model.Photo, "Укажите путь к фотографии:")
                    <input name="file" type="file" accept="image/*"/>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button class="btn btn-success ok" type="submit"><i class="fa fa-check"></i> Подтвердить</button>
            <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Отмена</button>
        </div>
    </div>
}