@model IEnumerable<WebsitesPerformanceEvaluating.Models.Page>

@{ ViewBag.Title = "Test result"; int k = 10; }

<p id="testid">@ViewBag.TestId</p>
<h1>Test result for website: @ViewBag.Website</h1>
<section class="graph-results">
    <div class="section-name">Graphic result display</div>
    <canvas class="horizontal-bar" height="@(Model.Count() > k ? Model.Count() * k : Model.Count() * k * 2)"></canvas>
</section>
<section class="table-results">
    <div class="section-name">Table result display</div>
    <table class="table table-bordered results-table">
        <thead>
            <tr>
                <th>Page URL</th>
                <th>Average time (ms)</th>
                <th>Min time (ms)</th>
                <th>Max time (ms)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PageAddress</td>
                    <td>@item.AverageTime</td>
                    <td>@item.MinTime</td>
                    <td>@item.MaxTime</td>
                </tr>
            }
        </tbody>
    </table>
</section>